@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #87ff2a;
  background-color: black;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #87ff2a;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  text-align: center;
}

.col {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.btn {
  display: inline-block;
  background: #87ff2a;
  color: black;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid #fff;
}

.btn:hover {
  /* opacity: 0.8; */
  background-color: rebeccapurple;
}

.bglight {
  background-color: #f4f4f4;
  color: black;
}

.bgdark {
  background-color: black;
  color: #87ff2a;
}

.text-primary-light {
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
  padding-bottom: 10px;
  color: #333;
  border-bottom: 3px solid #87ff2a;
}
.text-primary-dark {
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
  padding-bottom: 10px;
  color: white;
  border-bottom: 3px solid black;
}
.navbar {
  position: fixed;
  width: 100%;
  padding: 40px 0;
  top: 0;
  z-index: 2;
}

.logo {
  height: 40px;
  font-size: 1.5rem;
}

.logo i {
  margin-right: 1.5rem;
}

.navbar .menu li {
  /* text-decoration: none; */
  list-style: none;
  display: inline-block;
}

.toggler {
  background: none;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  cursor: progress;
  z-index: 5;
  display: none;
  /* border-radius: 25px; */
}

.navbar .menu li a {
  display: block;
  color: #87ff2a;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 25px;
  cursor: pointer;
}

.navbar .menu li a:hover {
  opacity: 0.6;
}

.toggler i {
  line-height: 30px;
  border: 2px solid #87ff2a;
  display: block;
  color: #87ff2a;
}

.sticky {
  background-color: #fff;
  padding: 18px 0;
  transition: 1s;
}

.sticky .navbar-menu a {
  color: #87ff2a;
}

.sticky .toggler i {
  background-color: #87ff2a;
  color: #fff;
}
.about-text h3 {
  margin: 10px 0;
  color: #333;
  font-size: 15px;
}

.about-text h3 span:nth-child(1):after,
.about-text h3 span:nth-child(2):after,
.about-text h3 span:nth-child(3):after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #333;
  display: inline-block;
  border-radius: 50%;
  margin: 0 15px;
}

.about-text p {
  font-size: 17px;
  text-align: justify;
  line-height: 25px;
  margin-top: 20px;
}

.home {
  height: 100vh;
  background: url(https://static.videezy.com/system/resources/previews/000/007/313/original/Plexus.mp4)
    no-repeat center center/cover;
  background-attachment: fixed;
}

.home .container {
  width: 100vw;
  color: #87ff2a;
}

.home .container .row {
  margin-right: 0;
}

.home .home-content .text-1 {
  font-size: 1.2rem;
  margin-top: 20px;
}

.home .home-content .text-2 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 20px;
}

.home .home-content .text-3 {
  font-size: 1.4rem;
  font-weight: 450;
  margin-top: 20px;
}

.home .home-content .text-3 span {
  color: #fff;
  font-weight: 600;
}

.home .home-content .btn {
  font-size: 25px;
  transition: all 0.3s ease;
  margin-top: 20px;
}

#about {
  padding: 100px 0;
}

.about-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.about-content img {
  margin-right: 60px;
  border-radius: 20px;
}

.about-text {
  flex: 1;
}

#services {
  padding: 100px 0;
}

.services-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service {
  width: calc(33% - 20px);
  text-align: center;
  /* background-color: rgb(190, 51, 233); */
  background-color: rgb(190, 51, 233);
  border-radius: 5px;
  margin: 24px 0;
  padding: 40px 20px;
  cursor: pointer;
  transition: 0.3s linear;
}

.service .icon {
  color: #87ff2a;
  font-size: 30px;
  margin-bottom: 20px;
}

.service .h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.service:hover {
  background-color: #87ff2a;
  color: black;
}
.service:hover .icon {
  color: white;
}

#skills {
  padding: 100px 0;
}
.skills-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skills-content .column .text {
  font-size: 20px;
  margin-bottom: 15px;
}

.skills-content .column {
  width: calc(50% - 30px);
  text-align: center;
}

.skill-info {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.progress-bar {
  height: 5px;
  margin-top: 15px;
  background-color: #080a07;
  position: relative;
}

.progress-bar:after {
  content: "";
  position: absolute;
  background-color: #87ff2a;
  height: 5px;
  bottom: 0;
  left: 0;
}

.skills-content .column p {
  margin-bottom: 15px;
}
.html:after {
  width: 75%;
}
.css:after {
  width: 70%;
}
.js:after {
  width: 60%;
}
.jsx:after {
  width: 35%;
}
.wpress:after {
  width: 15%;
}
.java:after {
  width: 80%;
}
.cpp:after {
  width: 85%;
}

#team {
  padding: 100px 0;
}
.item {
  background-color: white;
  margin: 7px;
  padding: 20px;
  border-radius: 20px;
  max-width: 420px;
  color: #87ff2a;
  height: 450px;
  cursor: pointer;
}

.item .member-image img {
  width: 90px;
  height: 90px;
  /* border-radius: 15px; */
  /* height: 100; */
}
.item .member-image {
  width: 100px;
  height: 100ox;
  border-radius: 50px;
  border: 5px solid #87ff2a;
  overflow: hidden;
  margin: auto;
}

.item h2 {
  color: #87ff2a;
  font-size: 25px;
  margin: 40px auto 20px auto;
  width: 100%;
}

.item .job {
  color: #4ec5e9;
  font-size: 15px;
  text-transform: uppercase;
  margin: 15px 0;
  font-weight: 800;
  /* cursor: pointer; */
}
.item:hover,
.item .job:hover {
  background-color: #1f2b19;
  color: #87ff2a;
  text-emphasis-color: #87ff2a;
}

#contact {
  padding: 100px 0;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 60px;
}

.contact-info .contact-item {
  width: calc(32% - 10px);
  height: 170px;
  background-color: #87ff2a;
  color: #080a07;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: 0.3s linear;
}

.contact-info i {
  display: block;
  font-size: 40px;
  line-height: 110px;
  height: 120px;
}

.contact-info .contact-item:hover {
  background-color: #080a07;
  color: white;
  transform: scale(1.1);
}

.contact-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  height: 50px;
  margin: 10px 0;
  border: 2.5px solid #87ff2a;
  outline: none;
  border-radius: 5px;
  color: rgb(3, 0, 0);
}

::placeholder {
  color: black;
  opacity: 0.7;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.name,
.email {
  width: calc(50% - 10px);
}
.subject {
  width: 100%;
}
.message {
  min-height: 200px;
  width: 100%;
}

.contact-form .btn {
  width: 100%;
  color: #87ff2a;
  background-color: transparent;
  font-size: 20px;
  font-weight: 500;
  border: 3px solid #87ff2a;
  cursor: pointer;
}

.contact-form .btn:hover {
  background-color: #080a07;
  color: white;
}

.footer {
  padding: 80px;
}

.copyright {
  margin-bottom: 20px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.copyright a {
  color: #87ff2a;
  font-weight: 600;
}

.social a {
  font-size: 25px;
  margin: 10px;
}

.goto {
  position: fixed;
  border-radius: 5px;
  z-index: 99;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: #87ff2a;
  border: none;
  cursor: pointer;
}
@media only screen (max-width: 767px) {
  padding-left: 0px;
  padding-right: 0px;
}
@media only screen and (max-width: 890px) {
  .toggler {
    display: block;
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #87ff2a;
    top: 0;
    max-width: 300px;
    padding: 80px 50px;
    transition: 0.3s linear;
    right: -100%;
  }
  .navbar .menu li a {
    color: black;
    text-align: left;
    display: block;
    font-size: 1.5rem;
    margin: 10px;
    width: 200px;
  }
  .toggler.active i {
    color: black;
    border-color: black;
  }
  .navbar .active {
    right: 0;
  }

  .about-content {
    flex-direction: column;
  }
  .about-content img {
    margin-bottom: 30px;
    /* align-self: center; */
    width: 100%;
  }

  .service {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 20px;
  }
  .service {
    width: 100%;
  }
  .skills-content .column {
    width: 100%;
  }

  .contact-info .contact-item {
    width: 100%;
    margin-top: 20px;
  }
}
